/*-------------------------------------------------- STYLE GENERAL --------------------------------------------------------------*/

*,
:before,
:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

/*LOGO PACMAN*/

img[src="./img/pacmanLogo.png"]
{
    display: block;
    margin: auto;
}

.main{
    background-color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
    border: 5px dotted #fcc73f;
}

/*-------------------------------------------------- PAGE HIGHSCORE (1) --------------------------------------------------------------*/

/*TABLEAU HIGHSCORE*/

.highscore{
    border: 6px solid #65afdd;
    margin:3% auto;
    width: 50vh;
    border-spacing: 30px;
    height: 50vh;
}

/*COLOR TROPHEYS*/

table tr td i{
    font-size: 30px;
}
table tr:first-child i {
    color: #ffd700;
}

table tr:nth-child(2) i {
    color: #c0c0c0;
}

table tr:nth-child(3) i {
    color: #cd9932;
}

/*BOUTON PLAY*/

button{
    border-radius: 3px;
    padding: 30px;
    font-size: 25px;
    font-family: 'Press Start 2P';
    background-color: black;
    display: block;
    /*margin: auto;*/
    color: white;
    border: 4px solid #fcc73f;
    margin-right: 50px;
    margin-left: 50px;
}

button:hover{
    border: 4px solid #65afdd;
}

/*COLOR NOM TABLEAU*/

td{
    font-family: 'Press Start 2P';
    color: white;
}

/*DISPLAY FLEX FANTOME AVEC BOUTONS*/

.button2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*-------------------------------------------------- PAGE HIGHSCORE (2) --------------------------------------------------------------*/

/*INSTRUCTIONS*/

.instructions{
    border: 6px solid #65afdd;
    margin: 3% auto;
    width: 50vh;
    height: 50vh;
    border-spacing: 30px;
}

ul{
    margin-left: 35px;
    list-style-type: square;
}
li{
    font-family: 'Press Start 2P';
    color: white;
    padding: 30px 5px;
    font-size: 20px;
}

h2{
    color: white;
    font-family: 'Press Start 2P';
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 30px;
}

ul li:first-child i:first-child{
    color: #52f6db;
    font-size: 30px;
}

ul li:first-child i:nth-child(2){
    color: #e49df5;
    font-size: 30px;
}

ul li:first-child i:last-child{
    color: #d61e00;
    font-size: 30px;
}

ul li:nth-child(2) i{
    color: #fcc73f;
    font-size: 30px;
}

/*-------------------------------------------------- PAGE JEUX (3) --------------------------------------------------------------*/

.score{
    font-size: 30px;
    text-align: center;
    font-family: 'Press Start 2P';
    color: white;
}



.map {
    background-color: #0b0b0b;
    width: 1000px;
    height: 1000px;
    position: relative;
    margin: 0 auto;
}

img[src="./img/pacman.gif"] {
    position: absolute;
    top: 500px;
    left: 500px;
    padding: 15px;
    width: 100px;
}
img[src="./img/redGhost.png"] {
    position: absolute;
    top: 300px;
    left: 400px;
    width: 100px;
    padding: 15px;
}
img[src="./img/pinkGhost.png"] {
    position: absolute;
    top: 300px;
    left: 400px;
    width: 100px;
    padding: 15px;
}
img[src="./img/blueGhost.png"] {
    position: absolute;
    top: 300px;
    left: 400px;
    width: 100px;
    padding: 15px;
}
img[src="./img/background.svg"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.dot {
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.dot::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fcc73f;
}

.toLeft {
    transform: none;
}
.toTop {
    transform: rotate(90deg);
}
.toRight {
    transform: scale(-1, 1);
}
.toBottom {
    transform: rotate(-90deg);
}

@media (orientation: portrait) and (max-width: 1000px) {
    .map {
        width: 100%;
        height: 100vw;
    }
    img[src="./img/pacman.gif"] {
        top: calc(100vw * 500 / 1000);
        left: calc(100vw * 500 / 1000);
        padding: calc(100vw * 15 / 1000);
        width: calc(100vw * 100 / 1000);
    }
    img[src="./img/red-ghost.png"] {
        top: calc(100vw * 300 / 1000);
        left: calc(100vw * 400 / 1000);
        width: calc(100vw * 100 / 1000);
        padding: calc(100vw * 15 / 1000);
    }
    img[src="./img/pink-ghost.png"] {
        top: calc(100vw * 300 / 1000);
        left: calc(100vw * 400 / 1000);
        width: calc(100vw * 100 / 1000);
        padding: calc(100vw * 15 / 1000);
    }
    .dot {
        width: calc(100vw * 100 / 1000);
        height: calc(100vw * 100 / 1000);
    }
    .dot::before {
        width: calc(100vw * 20 / 1000);
        height: calc(100vw * 20 / 1000);
    }
}
@media (orientation: landscape) and (max-height: 1000px) {
    .map {
        width: 100vh;
        height: 100%;
    }
    img[src="./img/pacman.gif"] {
        top: calc(100vh * 500 / 1000);
        left: calc(100vh * 500 / 1000);
        padding: calc(100vh * 15 / 1000);
        width: calc(100vh * 100 / 1000);
    }
    img[src="./img/red-ghost.png"] {
        top: calc(100vh * 300 / 1000);
        left: calc(100vh * 400 / 1000);
        width: calc(100vh * 100 / 1000);
        padding: calc(100vh * 15 / 1000);
    }
    img[src="./img/pink-ghost.png"] {
        top: calc(100vh * 300 / 1000);
        left: calc(100vh * 400 / 1000);
        width: calc(100vh * 100 / 1000);
        padding: calc(100vh * 15 / 1000);
    }
    .dot {
        width: calc(100vh * 100 / 1000);
        height: calc(100vh * 100 / 1000);
    }
    .dot::before {
        width: calc(100vh * 20 / 1000);
        height: calc(100vh * 20 / 1000);
    }
}